@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.section {
  transition: transform 1.5s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}